.currentWeather_sec {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff23;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #013146;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 5px;
}
.mainWeatherIcon {
  width: 130px;
  height: 100px;
  object-fit: contain;
}
.currWeatherIcon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.city_name{
  font-size: 50px;
  color: #e9e9e7;
  text-shadow: 2px 2px 3px #000000;
  text-transform: capitalize;
}
.refresh{
  cursor: pointer;
  font-size: 25px;
  transition: .2s ease;
}
.rotating {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.weather {
  font-size: 30px;
  font-weight: bold;  
  letter-spacing: 1px;
}
.lastUpdate {
  font-weight: 500;
  font-size: smaller;
  color: #fff;
  background-color: rgba(10, 32, 94, 0.747);
  width: fit-content;
  margin: 0 !important;
  padding: 5px;
  text-indent: 5px;
  border-radius: 10px;
}
.statis_card {
  width: 120px;
  min-height: 150px;
  padding: 5px;
  margin: 5px 0;
  text-align: center;
  background-color: #ffffff6c;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 1px 1px 5px #013146;
}
.weather_data {
  font-weight: bold;
  font-size: 25px;
}
.detail_title {
  white-space: nowrap;
  position: absolute;
  bottom: 5px;
  font-weight: bold;

}
.curr_temp{
  font-size: 50px;
  font-weight: bold;
  color: rgb(255, 230, 0);
}
.MuiAlert-icon{
  margin: 0 !important;

  line-height: 40;
}
.MuiSvgIcon-root{
  height: 40px !important;
  width: 40px !important;
}


@media (max-width:768px){
  .currentWeather_sec{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 20px;
    background-color: #d5dee74d;
    backdrop-filter: blur(5px);
  }
  .currentWeather_sec .city_name{
    font-size: 30px;
  }
  .currentWeather_sec .weather{
    font-size: 25px;
  }
  .statis_card{
    min-height: 100px !important;
    width: 80px !important;
  }
  .weather_data{
    font-size: 14px;
  }
  .curr_temp{
    font-size: 35px;
  }
  .detail_title{
    font-size: 11px;
  }
}
