.navbar {
  height: auto;
  position: sticky;
  top: 0;
  z-index: 5;
  background-image: linear-gradient(
    to right,
    #ffffff,
    #617f97 25%,
    transparent
  );
  box-shadow: 0 0 10px 0px #97d4f0;
  padding: 0 !important;
  backdrop-filter: blur(10px);
}
.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap !important;
  padding: 0;
}
.logo {
  height: 100px;
  object-fit: contain;
  mix-blend-mode: multiply;
  filter: contrast(1);
}

@media (max-width: 800px) {
  .navbar {
    background-image: linear-gradient(
      to right,
      #ffffff,
      #012e43 35%,
      transparent
    );
  }
  .logo {
    height: 60px;
    border: none;
    box-shadow: none;
  }
}

.langToggler {
  margin-right: 5px;
}
@media (max-width: 700px) {
  .langToggler {
    position: absolute;
    top: 20%;
    right: 20%;
  }
}
