.App {
  box-sizing: border-box;
  background-image: 
    url("./assets/images/android_weather_app.jpg");
  background-size: cover;
  width: 100%;
}
.forecast_container{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.forecast{
  width: 60%;
  margin: 20px auto;
  margin-top: 0;
}
.day_forecast {
  background-color: #313a4bc0;
  backdrop-filter: blur(1px);
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 25%;
  position: sticky;
  top: 110px;
}
@media (max-width:960px) {
  .forecast_container{
    display: flex;
    flex-direction: column;
  }
  .day_forecast{
    display: flex;
    flex-direction: row;
    width: 90%;
    position: unset;
  }
  .forecast{
    width: 90%;
    margin: 0 auto;
  }

}
