.App {
  box-sizing: border-box;
 background-image: linear-gradient(
    hsla(240, 1%, 16%, 0.486),
    hsla(0, 0%, 0%, 0.486)
  ), url("./assets/images/android_weather_app.jpg");  
  background-size: cover;
  background-repeat: no-repeat;
}


.day_forecast{
  background-color: #313a4b8c;
  backdrop-filter: blur(1px);
  margin: 10px auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
}